/target/
/bin/
/build/
/.classpath
/.project
/.settings/
/.checkstyle
/atlassian-ide-plugin.xml
/.idea/
/*.iml
/*.ipr
/*.iws
*.orig
*.swp
*~
*.~*#

VirtualBox-4.2.4-81684-OSX.dmg
node_modules
dist
.tmp
.sass-cache
bower_components

*.log

.tern-project
